<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script src="/static/js/vue.js"></script>
    <script src="/static/js/vue-resource.min.js"></script>
    <title>LESTClient</title>
</head>
<body>
  <div id="app">
    <select v-model="method">
      <option>DELETE</option>
      <option>GET</option>
      <option>POST</option>
      <option>PUT</option>
    </select>
    <input v-model="url" />
    <ul>
      <li><input placeholder="query string参数名" v-model="queryKey" /><input placeholder="query string参数值" v-model="queryValue" /></li>
    </ul>
    <textarea>
      {{ requestBody }}
    </textarea>
    <input type="submit" v-on:click="echoMessage" value="请求" />
    <div>
      <pre>{{ response }}</pre>
    </div>
  </div>
  <script src="/static/js/app.js"></script>
</body>
</html>
