<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script src="/static/js/vue.js"></script>
    <script src="/static/js/vue-resource.min.js"></script>
    <title>LESTClient</title>
</head>
<body>
  <div id="app">
    <oauth></oauth>
    <request-token></request-token>
    <select v-model="method">
      <option>DELETE</option>
      <option>GET</option>
      <option>POST</option>
      <option>PUT</option>
    </select>
    <input v-model="url" />
    <ul>
      <li><input placeholder="query string参数名" v-model="queryKey" /><input placeholder="query string参数值" v-model="queryValue" /></li>
    </ul>
    <ul>
      <li><input placeholder="HTTP头部字段名" v-model="headerKeys[0]" /><input placeholder="HTTP头部字段值" v-model="headerValues[0]" /></li>
      <li><input placeholder="HTTP头部字段名" v-model="headerKeys[1]" /><input placeholder="HTTP头部字段值" v-model="headerValues[1]" /></li>
      <li><input placeholder="HTTP头部字段名" v-model="headerKeys[2]" /><input placeholder="HTTP头部字段值" v-model="headerValues[2]" /></li>
    </ul>
    <textarea v-model="requestBody">
    </textarea>
    <input placeholder="超时时间" v-model="timeout" />
    <input type="submit" v-on:click="echoMessage" value="请求" />
    <p>{{ status_code }}</p>
    <span>total-time</span> - <span>{{ total_time }}</span>
    <ul>
      <li v-for="header in headers">
        <span>{{ header.field }}</span> - <span>{{ header.value }}</span>
      </li>
    </ul>
    <div>
      <pre>{{ response }}</pre>
    </div>
    <user></user>
  </div>
  <script src="/static/js/app.js"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-94082039-1', 'auto');
    ga('send', 'pageview');

  </script>
</body>
</html>
